In [2]:
import pandas as pd


import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data = pd.read_csv('./Listing_of_All_Businesses_20250310.csv')
data.head(3)

,LOCATION ACCOUNT #,BUSINESS NAME,DBA NAME,STREET ADDRESS,CITY,ZIP CODE,LOCATION DESCRIPTION,MAILING ADDRESS,MAILING CITY,MAILING ZIP CODE,NAICS,PRIMARY NAICS DESCRIPTION,COUNCIL DISTRICT,LOCATION START DATE,LOCATION END DATE,LOCATION
0,0003217523-0001-2,MARIA OFELIA NUNEZ,LA CAMPANA HARDWARE,1017 W 88TH STREET,LOS ANGELES,90044-2119,1017 88TH 90044,1017 W 88TH STREET,LOS ANGELES,90044-2119,444130.0,Hardware stores,0,10/01/2020,NaN,"(33.9581, -118.2926)"
1,0003211603-0001-0,ONE STOP HOLISTIC HEALTH LLC,NaN,1506 W MANCHESTER AVENUE,LOS ANGELES,90047-5424,1506 MANCHESTER 90047,1506 W MANCHESTER AVENUE,LOS ANGELES,90047-5424,NaN,NaN,8,09/03/2020,NaN,"(33.9597, -118.3028)"
2,0003109317-0001-3,GINA BRADFORD,NaN,7847 CANBY AVENUE,RESEDA,91335-2096,7847 CANBY 91335,7847 CANBY AVENUE,RESEDA,91335-2096,NaN,NaN,4,01/01/2018,NaN,"(34.2133, -118.535)"

# Descripcci√≥n

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1597184 entries, 0 to 1597183
Data columns (total 16 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   LOCATION ACCOUNT #         1597184 non-null  object
 1   BUSINESS NAME              1597184 non-null  object
 2   DBA NAME                   245458 non-null   object
 3   STREET ADDRESS             1597082 non-null  object
 4   CITY                       1597073 non-null  object
 5   ZIP CODE                   1597184 non-null  object
 6   LOCATION DESCRIPTION       1597061 non-null  object
 7   MAILING ADDRESS            360762 non-null   object
 8   MAILING CITY               360772 non-null   object
 9   MAILING ZIP CODE           360637 non-null   object
 10  NAICS                      624714 non-null   float64
 11  PRIMARY NAICS DESCRIPTION  624714 non-null   object
 12  COUNCIL DISTRICT           1597184 non-null  int64
 13  LOCATION START DATE        1595627 non-null  object
 14  LOCATION END DATE          1003720 non-null  object
 15  LOCATION                   668694 non-null   object
dtypes: float64(1), int64(1), object(14)
memory usage: 195.0+ MB

In [ ]:
len(data)

23957760